@font-face{
    font-family:'Roboto Flex', sans-serif;
    font-family:"Roboto Slab", sans-serif;
    font-family:"Roboto", sans-serif;
}

/*Css Variables*/

/*Universal- all pages*/

header{
    grid-area: header;
    position: fixed;
    display: grid;
    flex-wrap: wrap;
    background-image: url(../Img/HeaderPic.png);
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 1000px;
    width: 100%;
    grid-template-areas: 
    "logo login"
    "navbar navbar";
}

.logo{
    width: 165px;
    height: 104px;
    display: flex;
    grid-area: "logo";
}

.search{
    color:#1B203D;
    text-decoration: none;
    font-size: 30px;
    display: inline;
}

.cart{
    text-decoration: none;
    font-size: 30px;
    display: inline;
}



.main-list{
    grid-area:"navbar navbar";
    display: inline;
    background-color: #7AA0B8;
    width: 100%;
    height: 100%;

}

.login{
    grid-area:"login";
    justify-self: end;
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    background-color: #fff;
    min-width: 160px;
    min-height: 40px;
    max-width: 160px;
    max-height: 40px;
    border-radius: 10px;
    font-size: 27px;
    margin-top: 10px;
}


body{
    display: grid;
    background-color:#A4B6CA;
    font-family:roboto Flex, times_new_roman;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    grid-template-areas:
    "header header header"
    "gutter-left content gutter-right" 
    "footer footer footer" ;
}

.margin-pic-left{
    grid-area: gutter-left;
    max-width: fit-content;
    min-width: 100px;
    display: flex;
    flex-wrap: wrap;
}

.all-content{
    grid-area: content;
}

.margin-pic-right{
    grid-area: gutter-right;
    max-width: fit-content;
    min-width: none;
    display: flex;
    flex-wrap: wrap;
}

.active{
    text-decoration: underline;
}

a:visited{
    text-decoration: none;
    color: #1B203D;
}

a{
    text-decoration: none;
}

.go-back-button{
    text-decoration: underline;
}



.product{
    width: 270px;
    height: 271px;
    object-fit: cover;
    overflow: auto;
}

.cta{
    background-color:var--(cta-buttons);
}



h1,
h2{
    font-family:"Roboto", 'Times New Roman', Times, serif
}

.footer-logo{
    width: 224px;
    height: 141px;
}

footer{
    background-color: #1B203D;
    background-size: 100%;
    grid-area: footer;
}

/*Homepage*/

.slider-homepage{
    display: flex;
    width: 70%;
    color: #C8E2F3;
    background-color: #1B203D;
    margin: 60px 20px;
}

.slider-text{
    text-align: center;
}

.slider-pic{
    width: 300px;
}

.cta-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"Roboto Slab",Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    height: 48px;
    width :188px;
    border-radius: 10px;
    border: none;
    color: #1B203D;
    background-color: #7AA0B8;
}

/*GamesPage*/

.main-text-gamepg{
    text-align: center;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.main-text-gamepg .browse-games{
    font-size: 40px;
    font-family:"Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.games-headings{
    font-family:"Roboto Flex", Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
}

.games-row{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-items: center;
    padding: 100px 20px;
    background-color:#1B203D;

}

/*Productpage*/
.productpg-img{
    width: 388px;
    height: 451px;
    object-fit: cover;  
}

/*Cart*/
.product-cart{
    width: 142px;
    height: 162px;
}

/*About Page*/

.founder{
    width: 215px;
    height: 215px;
    object-fit: cover;
}

.about{
    background-color: #7AA0B8;
}

.about-logo{
    width: 332px;
    height: 331px;
    object-fit: cover;
}

/*Success Page*/

.success{
    text-align:center;
    background-color: #7AA0B8;
    color: #1B203D;
    
}

/*Contact Page*/

.contact-h1{
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: #1B203D;
}

.contact-heading{
    font-size: 25px;
    font-family: "Roboto Slab", Verdana, Geneva, Tahoma, sans-serif;
    color: #1B203D; 
}

.contact-content{
    font-family: "Roboto Slab", Verdana, Geneva, Tahoma, sans-serif;
    color: #1B203D;
}
