@font-face{
    font-family:'Roboto Flex', sans-serif;
    font-family:"Roboto Slab", sans-serif;
    font-family:"Roboto", sans-serif;
}

/*Css Variables*/

/*Universal- all pages*/

header{
    display: flex;
    flex-wrap: wrap;
    background-image: url(../Img/HeaderPic.png);
    background-repeat: no-repeat;
    background-size: 1550px;
    height: 300px;
    margin-bottom: 100px;



}

.logo{
    width: 165px;
    height: 104px;
}

.nav{
    align-self: flex-end;
    text-decoration: none;
    font-size: 30px;
    display: inline;
    padding: 0px 20px;
    position: relative;
    left: 332px;
    top: 10px;
}

.search{
    color:#1B203D;
    text-decoration: none;
    font-size: 30px;
    display: inline; 
    position: relative;
    top: 10px;
}

.cart{
    text-decoration: none;
    font-size: 30px;
    display: inline;
    position: relative;
    top: 10px;
    left: 660px;
}

.main-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 1550px;
    height: 60px;
}

.main-list{
    background-color: #7AA0B8;
    position: relative;
    top: 70px;
    width: 100%;
    height: 100%;

}


body{
    background-color:#A4B6CA;
    color:var--cta-buttons;
    font-family:roboto Flex, times_new_roman;
    margin: 0px;
    padding: 0px;
}



.margin-pic-left{
    background-image: url(../Img/Guter\ LEft.jpg);
    background-repeat: no-repeat;
}

.margin-pic-right{
    background-image: url(../Img/GutterRight.jpg);
    background-repeat: no-repeat;
}

.active{
    text-decoration: underline;
}

a:visited{
    text-decoration: none;
    color: #1B203D;
}

.login{
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    width: 160px;
    height: 40px;
    border-radius:10px;
    border: none;
    font-size: 27px;
    position: relative;
    left: 1100px;
    margin-top: 10px;
}


a{
    text-decoration: none;
}

.go-back-button{
    text-decoration: underline;
}

.games-headings{
    font-family:"Roboto Flex", Verdana, Geneva, Tahoma, sans-serif;
    color: #1B203D;
}

.product{
    width: 270px;
    height: 271px;
    object-fit: cover;
    overflow: auto;
}

.cta{
    background-color:var--(cta-buttons);
}



h1,
h2{
    font-family:"Roboto", 'Times New Roman', Times, serif
}

.footer-logo{
    width: 224px;
    height: 141px;
}

footer{
    background-color: #1B203D;
}

/*Homepage*/

.slider-homepage{
    display: flex;
    color: #C8E2F3;
    background-color: #1B203D;
}

.slider-text{
text-align: center;
}

.slider-pic{
    width: 300px;
}

.cta-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:"Roboto Slab",Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    height: 48px;
    width :188px;
    border-radius: 10px;
    border: none;
    color: #1B203D;
    background-color: #7AA0B8;
}

/*GamesPage*/

.main-text-gamepg{
    text-align: center;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.main-text-gamepg .browse-games{
    font-size: 40px;
    font-family:"Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.games-row{
    display: flex;
    justify-content: center;
    margin: aut;
    background-color:#1B203D;

}

/*Productpage*/
.productpg-img{
    width: 388px;
    height: 451px;
    object-fit: cover;  
}

/*Cart*/
.product-cart{
    width: 142px;
    height: 162px;
}

/*About Page*/

.founder{
    width: 215px;
    height: 215px;
    object-fit: cover;
}

.about{
    background-color: #7AA0B8;
}

.about-logo{
    width: 332px;
    height: 331px;
    object-fit: cover;
}

/*Success Page*/

.success{
    text-align:center;
    background-color: #7AA0B8;
    color: #1B203D;
    
}

/*Contact Page*/

.contact-h1{
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: #1B203D;
}

.contact-heading{
    font-size: 25px;
    font-family: "Roboto Slab", Verdana, Geneva, Tahoma, sans-serif;
    color: #1B203D; 
}

.contact-content{
    font-family: "Roboto Slab", Verdana, Geneva, Tahoma, sans-serif;
    color: #1B203D;
}

.contact-h1,
.contact-heading,
.contact-content{
}





